.navContainer {
  width: 100%;
  background-color: #6b7171;
  color: goldenrod;
  box-sizing: rgb(0, 0, 0.3);
  height: 20px;
}
.itemList {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.item {
  font-size: small;
  font-family: cursive;
}
.item:hover {
  color: #589cef;
  cursor: pointer;
}
